.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    min-width: 95vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .grid-item {
    background-color: #f8f5f5;
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    transition: transform 0.2s;
    min-height: 40vh;
    margin-top: 10px;
    box-shadow: 2px 8px 10px 1px rgb(231, 229, 229);
  }
  
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 5px 5px 5px rgb(235, 186, 186);

  }
  
.cgheading{
    color: rgb(188, 19, 19);
}
  .container-image{
    height: 50%;
    width: 35%;
    border-radius: 50px;
  }